[flake8]
# Completely disabled for POC
ignore = E,W,F,C,N,W293
max-line-length = 999
per-file-ignores = *:E,W,F,C,N
exclude = *
    env,
    node_modules,
    dist,
    build,
    .eggs,
    *.egg-info,
    waf_storage_clean

# Paths to check
per-file-ignores =
    __init__.py:F401

# Show source code for errors
show-source = True
